<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../assets/styles/index.css" type="text/css">
    <link rel="stylesheet" href="../assets/styles/show.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">
    
    <title>CarnaStore</title>
</head>

<body>
<!--modal-->
<div class="modal_show">
    <div class="modal_show--principal">
        <p class="modal_show--texto1">VIVAAAA!</p>
        <p class="modal_show--texto2">Adicionamos o item no seu carrinho!</p>
           
            <div class="modal_show--btns">
               <did class="modal_show_btns--fixer">
                    <a href="" class="modal_show--btn">Continuar comprando</a>
                    <a href="" class="modal_show--btn">Ir para o carrinho</a>
                </did>
            </div>
    </div>
</div>

<!--Logo-->
    <div class="logo">
        <a href="index.html"><img class="logo_img" src="../../layout/images/logo.svg" alt="Logo CarnaStore"></a>
        <div class="logo_titulo">Venha ser felix no carnaval!</div>
    </div>

<!--Banner-->
    <div class="section_banner">
        <div class="banner_show">
            <div class="banner_img--confettitop"></div>
            
               <div class="titulo_show">
                <p>Fantasia Amazônia</p>
            </div>
            
            <div class="descricao_show">
                <p>Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. </p>
            </div>

            <div class="preco_show">
                <p>De <del>R$ 200,00</del> por <span>R$ 100,00</span></p>
            </div>

            <div class="tamanho_show">
                <p>Esolha o tamanho</p>
                <ul>
                    <li><a id="pp" class="tamanho_show--btn">pp</a></li>
                    <li><a id="p" class="tamanho_show--btn">p</a></li>
                    <li><a id="m" class="tamanho_show--btn">m</a></li>
                    <li><a id="g" class="tamanho_show--btn">g</a></li>
                </ul>
            </div>
            <a class="adicionar_show--btn">Adicionar ao carrinho</a>
        </div>
    </div>
    
    <div class="banner_frase">
        <p>Outras fantasias que vc vai gostar</p>
    </div>
<!--Produtos-->
    <div class="produtos_row">
        <div id="2" class="produto_column">
            <img src="../../layout/images/fantasia-02.png" alt="Fantasia 02" class="produto_img">
            <p id="preco2" class="produto_preco"><b>R$120</b></p>
            <a id="btn2" class="produto_btn">Mais detalhes</a>
        </div>
        <div id="1" class="produto_column">
            <img src="../../layout/images/fantasia-01.png" alt="Fantasia 01" class="produto_img">
            <p id="preco1" class="produto_preco">DE <del>R$200</del> POR <b>R$100</b></p>
            <a id="btn1" class="produto_btn">Mais detalhes</a>
        </div>
        <div id="3" class="produto_column">
            <img src="../../layout/images/fantasia-03.png" alt="Fantasia 03" class="produto_img">
            <p id="preco3" class="produto_preco"><b>R$200</b></p>
            <a id="btn3" class="produto_btn">Mais detalhes</a>
        </div>
        <div id="4" class="produto_column">
            <img src="../../layout/images/fantasia-01.png" alt="Fantasia 01" class="produto_img">
            <p id="preco4" class="produto_preco"><b>R$50</b></p>
            <a id="btn4" class="produto_btn">Mais detalhes</a>
        </div>
    </div>
<!--Contato-->
    <div class="contato">
        <p><span>Carna</span>Store</p>
        <a href="mailto:contato@carnastore.com">
            contato@carnastore.com
        </a>
    </div>

    <div class="cartoes_geral">
        <div class="security-icon"></div>
        <div class="cards"></div>
    </div>
<!--Footer-->
    <div class="footer">
        <p>Desenvolvido pela <b>Humanoide</b></p>
    </div>

</body>
    <script src="../assets/js/jquery-3.4.0.min.js"></script>
    <script src="../assets/js/index.js"></script>
    <script src="../assets/js/modules_desktop.js"></script>
    <script src="../assets/js/modules_mobile_show.js"></script>
</html>
